*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

nav{
    padding: 10px !important;
}
.nav-link{
    color: black !important;
}
a.navbar-brand{
    width: 10px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}